
<% @context= content_tag :a, "Nedir Projesi Hakkında", href: "#myModal", class: 'btn-primary', data: {toggle: 'modal'} %>



<div id="latest-post-wrap" >
  <div id="latest-post" class="post" >
    <p class="byline"><span><%=@context%></span></p>
    <h1 class="title"><%= @title %></h1>
    <div>


      <p><%= @text %></p>

      <br style="line-height: 600px;">



    </div>
  </div>
</div>




