

<script>

    $( document ).ready(function() {

        $('#myModal').modal('show');
    });
    $( window ).load(function() {
        console.log( "window loaded" );
    });
</script>




<div id="latest-post-wrap" >
  <div id="latest-post" class="post" >
    <p class="byline"><span><%=@context%></span></p>
    <h1 class="title">Hoşgeldiniz</h1>
    <div>

      <p>Bu bir <b>"nedir", "ne anlama gelir", "nasıl yapılır"</b> projesidir.</p>
      <p>Proje geliştirilme aşamasındadır.</p>




      <br style="line-height: 600px;">



    </div>
    </div>
</div>




